/*html, body, div, header, nav, head, span, object, iframe, section, aside, article, h1, h2, h3, h4, img, ol, ul, dl, p {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*background: transparent;*/
/*}*/

body {
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    /*font: 17px  "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
    font: 12px Microsoft YaHei,Verdana,Geneva,sans-serif;
    background-color: #F7F7F7;
    color: #666;
    font-style: normal;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    outline: none;
}

li {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

/*logo和搜索*/
header section {
    /*display: flex;*/
    /*justify-content: space-around;*/
    width: 1200px;
    margin: 0 auto;
    height: 90px;
}

header section hgroup h1 {
    margin: 9px 20px 0 0;
}

header section hgroup h1 a {
    margin: auto 0;
    width: 72px;
    height: 72px;
    display: inline-block;
    background-color: #77a6f6;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    transition: 1s;
}

header section hgroup h1 a:hover {
    transform: rotateY(180deg);
}

header section hgroup h1 a img {
    margin-top: 5px;
    width: 62px;
    border-radius: 50px;
}

/*查找*/
header section hgroup h1 span:nth-child(2) {
    margin-left: 14px;
    line-height: 72px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    vertical-align: middle;
    color: #28A0DE;
}

header section hgroup h1 span:nth-child(3) {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    color: #999;
}

header section input {
    margin-top: 30px;
    height: 30px;
    padding: 0;
    background-color: #fff;
    outline: none;
    border-radius: 4px;
}

header section input:first-child {
    border: 1px solid #0a8cd2;
    line-height: 30px;
    padding-left: 10px;
}

header section input:first-child::placeholder {
    letter-spacing: 1px;
    color: #999;
}

header section input:nth-child(2) {
    border: 0;
    border-radius: 100%;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 32px;
    width: 36px;
    line-height: 32px;
    /*border-left: 1px solid #77a6f6;*/
    margin: 30px auto auto 10px;
    padding: 0 6px;
    background: #fff url("../style/image/search.png") no-repeat center center;
    background-size: 20px 20px;
    cursor: pointer;
}

/*导航*/
header nav.header-nav {
    margin: 0 auto;
    height: 44px;
    background-color: #0a8cd2;
    font-size: 0;
    text-align: left;
}

header nav.header-nav ul.menu{
    display: block;
    width: 1200px;
    margin:0 auto;
}
nav ul, nav li, nav a {
    display: inline-block;
    line-height: 44px;
    height: 44px;
    vertical-align: middle;
    padding: 0 20px;
}

nav ul li {
    font-size: 16px;
    border-right: 2px inset #fff;
}
nav ul li:last-of-type{
    /*会变成灰色 ？*/
    border-right: none;
}
nav ul li a {
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #FFE793;
}

/*主要内容*/
.main-content{
    width: 1200px;
    margin:20px auto;
}

/* 文章栏 */
.article-box{
    /*background: #87CEFA;*/
    border: 3px solid #fff;
    width: 876px;
    float: left;
    margin: 0;
    padding: 10px 0;
}


/*轮播图*/


/*宽幅图片轮播*/
section.infinite-gallery {
    display: inline-block;
    margin: 20px auto;
    width: 846px;
    height: 450px;
    border: 1px solid #0a8cd2;
    /*background-color: #00AA88;*/
    position: relative;
    overflow: hidden;
}
section.infinite-gallery:after{
    display: block;

    position: absolute;
    left: -2%;
    bottom: -16px;

    /*border: 1px solid #000000;*/
    width: 104%;
    height: 2px;

    background: #000;

    content: 'line';
    /*？不显示*/
}

section.infinite-gallery .pic-box {
    height: 100%;
}

section.infinite-gallery .pic-box img {
    width: 100%;
    height: 100%;
    float: left;
}

section.infinite-gallery .toggle-btn div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

section.infinite-gallery .toggle-btn .prev-pic {
    left: 0;
    background: url("../style/image/dot-set.png");
}

section.infinite-gallery .toggle-btn .next-pic {
    right: 0;
    background: url("../style/image/dot-set.png");
    background-position: -40px;
}

section.infinite-gallery .seq-pic-box {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    height: 25px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

section.infinite-gallery .seq-pic-box .seq-pic {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

section.infinite-gallery .seq-pic-box .seq-pic:hover {

}

section.infinite-gallery .seq-pic-box .seq-pic div {
    margin: 12px 2px;
    height: 2px;
    background: #DBDBDB;
}

section.infinite-gallery .seq-pic-box .seq-pic div:hover {
    background: #808080;
}

.article-box article{
    display: inline-block;

    position: relative;

    width: 850px;
    height: 286px;
    margin: 10px auto;

    background: #feec85;

    text-align: left;

}

/* 文章图片 */
.article-box article img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;

    margin: auto;
    width: 320px;
    height: 200px;

    background-size: 100% 100%;

    cursor: pointer;
}
/* 文章图片 end */

/* 文章介绍 */
.article-box article hgroup.article-text{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    margin: auto;
    width: 490px;
    height: 200px;

    font: 12px Microsoft YaHei,Verdana,Geneva,sans-serif;
    line-height: 24px;

    color: #555;
}
.article-box article hgroup.article-text .title{
    margin:0;

    font-size: 16px;

    color: #0A8CD2;
}
.article-box article hgroup.article-text .article-info{
    margin:0;
    border-bottom: 1px inset #DDDDDD;
    color: #999;
}
.article-box>article>hgroup.article-text .article-intro{
    display: inline-block;
    overflow: hidden;
    width: 480px;
    height: 90px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.article-box>article>hgroup.article-text .article-intro:after{
    content: '...';
}

.article-box article hgroup.article-text .article-more{
    position: relative;
    z-index: 2;

    display: inline-block;
    margin: 0;
    padding: 3px 10px;

    color: #fff;
    background-color: rgba(10,140,210,1);

    overflow: hidden;
    cursor: pointer;
}
.article-box article hgroup.article-text .article-more:before{
    display: inline-block;

    position: absolute;
    top: -100%;
    left: 0;
    z-index: -1; /*为什么设置1达不到效果？*/

    width: 100%;
    height: 100%;

    background-color: #005EAC;

    transition: ease-out 0.5s;

    content: '';
    
}

.article-box article hgroup.article-text .article-more:hover:before{
    top: 0;
}

/* 文章信息 end */

/*页数*/
.paging-box{
    margin: 10px auto 20px;
}
.paging{
    display: inline-block;
    font: 12px Microsoft YaHei,Verdana,Geneva,sans-serif;
    height: 24px;
}
.paging>li{
    display: inline-block;

    margin: 2px 6px 2px;
    padding: 6px 10px;

    color: #fff;
    background-color: #0A8CD2;

    transition: 0.5s;
}
.paging>li:hover,.paging>li.current-page{
    background: #005EAC;
}
.paging>li>a{
    color: #fff;
    text-decoration: none;
}

/*页数 end*/

/* 文章栏 end */


/*信息展示*/
.info-show{
    width:274px;
    float: right;
}
/*关于本站*/
section.introduce-box {
    display: inline-block;
    width: 274px;
    height: 450px;
    border: 1px solid #fff;
    text-align: left;
    /*background-color: deepskyblue;*/
}

section.introduce-box .title {
    height: 34px;
    /*background: #00AA88;*/
    /*border: 1px solid #8BC5E6;*/
}

section.introduce-box .title .icon-btn {
    display: inline-block;
    width: 30px;
    height: 100%;
    background: #fff url("../style/image/threebars.png") no-repeat center;
    background-size: 16px 16px;
    cursor: pointer;
}

section.introduce-box .title span {
    display: inline-block;
    font: 700 15px sans-serif;
    vertical-align: 54%;
}

section.introduce-box .line {
    margin: 1px auto;
    width: 260px;
    border-bottom: 1px inset #f3f3f3;
    border-radius: 1px;
}

section.introduce-box div.pic-intro {
    margin: 20px auto auto;
    width: 250px;
    height: 140px;
    background-image: url("../style/image/wali.jpg");
    background-size: 100% 100%;
}

section.introduce-box .introduce-text {
    height: 100px;
}

section.introduce-box .introduce-text p.introduce {
    display: block;
    width: 250px;
    margin: 10px;
    text-indent: 2em;
    font-size: 14px;
    color: #777;
    text-align: left;
}

section.introduce-box .introduce-text p:nth-of-type(2) {
    width: 250px;
    margin: 0 10px;
    font-size: 15px;
    color: #777;
    text-align: right;
}

section.introduce-box .contact {
    margin: 20px auto;
    width: 230px;
    height: 76px;
    /*background: #fff58b;*/
    font-size: 0;
}

section.introduce-box .contact a {
    width: 32px;
    height: 32px;
    margin: 3px;
    background: #00CCFF;
    display: inline-block;
    font-size: 14px;
}

section.introduce-box .contact a.rss {
    background: #FAA33D url("../style/image/icon.png");
    background-position: -60px -303px;
}

section.introduce-box .contact a.weibo {
    background: #FF4E2B url("../style/image/icon.png");
    background-position: -60px -72px;
}

section.introduce-box .contact a.zhihu {
    background: #005EAC url("../style/image/icon.png");
    background-position: -60px -270px;
}

section.introduce-box .contact a.douban {
    background: #3AB354 url("../style/image/icon.png");
    background-position: -60px -170px;
}

section.introduce-box .contact a.youku {
    background: #A6A0EB url("../style/image/icon.png");
    background-position: -60px -400px;
}

section.introduce-box .contact a.baiduyun {
    background: #17A3EB url("../style/image/icon.png");
    background-position: -60px -434px;
}

section.introduce-box .contact a.twitter {
    background: #40BFF5 url("../style/image/icon.png");
    background-position: -60px -370px;
}

section.introduce-box .contact a.facebook {
    background: #5D82D1 url("../style/image/icon.png");
    background-position: -60px -336px;
}

section.introduce-box .contact a.instagram {
    background: #AF886C url("../style/image/icon.png");
    background-position: -60px -238px;
}

section.introduce-box .contact a.Dribbble {
    background: #F46CA1 url("../style/image/icon.png");
    background-position: -60px -104px;
}

section.introduce-box .contact a.Deviantart {
    background: #86AE88 url("../style/image/icon.png");
    background-position: -60px -138px;
}

section.introduce-box .contact a.zhifubao {
    background: #00aaee url("../style/image/icon.png");
    background-position: -60px -204px;
}

/* 底部 */

footer{
    background: url("./image/index/footer_bg.png");
}
/*菜单*/
footer>.footer-menu-wrap{
    text-align: center;
    border-top: 3px solid #0A8CD2;
    border-bottom: 1px solid #E4E4E4;
    background: transparent;
    font: 12px microsoft yahei,Verdana,Geneva,sans-serif;
    padding: 20px;
}
footer>.footer-menu-wrap>ul.footer-menu{
    width: 1200px;
    margin: 0 auto;

    line-height: 24px;
}
footer>.footer-menu-wrap>ul.footer-menu>li{
    display: inline-block;
    line-height: 24px;
    margin: 0 6px;
}
footer>.footer-menu-wrap>ul.footer-menu>li>a{
    color: #666;
}

/*底部几个模块*/
footer>.footer-widgets-wrap{
    border-top: 1px solid #fff;
    overflow: hidden;
    padding: 20px 0;
    background: transparent;
}
footer>.footer-widgets-wrap>.footer-widgets{
    overflow: hidden;

    margin: 0 auto;
    width: 1200px;

    line-height: 24px;
}
.footer-widgets>.footer-widgets-item{
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px;
    width: 21%;
    background: #F8F8FA;
}

.footer-widgets>.footer-widgets-item:hover{
    box-shadow: 0 0 3px 2px rgba(10, 140, 210,0.2);  /*？*/
}
.footer-widgets>.footer-widgets-item>.footer-widgets-title, ul.footer-widgets-content>li>a, ul.footer-widgets-content>li{
    text-align: left;
    color: #666;
}
.footer-widgets>.footer-widgets-item>h3.footer-widgets-title{
    margin: 0;
    border-bottom: 1px solid #E4E4E4;
    padding: 0 0 8px 22px;
    font: 15px bold Microsoft YaHei;
    background: url("image/catalog_icon.png") no-repeat 2px 4px;
}
.footer-widgets-item h3 a{
    color: #666;
}
.footer-widgets>.footer-widgets-item ul.footer-widgets-content{
    border-top: 1px solid #fff;
    padding: 8px 4px;
}
.footer-widgets>.footer-widgets-item ul.footer-widgets-content>li{
    border-bottom: 1px solid #eee;
    padding: 4px 0 4px 12px;
    line-height: 30px;

    background: url("image/icon.png") no-repeat -119px 3px;

    transition: ease-out 0.5s;
}
.footer-widgets>.footer-widgets-item ul.footer-widgets-content>li:hover{
    background-position: -119px -25px;
}
ul.footer-widgets-content>li>a{
    display: block;
    height: 30px;
    letter-spacing: -.021em;
}

/*热门标签*/
.popular-tags>h3{
    margin-bottom: 8px !important;
}
.popular-tags span{
    display: inline-block;
    float: left;
    margin: 2px;
    padding: 5px 20px;
    background: #F4F4F4;
}

/*订阅本站*/
.subscription-site p{
    text-align: left;
}
.subscription-site input{
    margin: 6px 0;
    border: none;
    padding: 0 12px;
    line-height: 30px;
    background: #0A8CD2;
    color: #fff;

}
.subscription-site input[type="text"]{
    background: #fff;
    color: #0A8CD2;
}
.subscription-site input[type="button"]{
    transition: ease-out 0.5s;
    cursor: pointer;
}
.subscription-site input[type="button"]:hover{
    background: #005EAC;
}

/*网站底部相关信息*/
.footer-bottom-wrap{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    color: #666;
}
.webstie-info{
    display: table;
    margin: 0 auto;
    width: 1200px;
}
.webstie-info span{
}

/* 底部 end */

/* 返回顶部 */
#back-to-top {
    top: 80%;
    /*display: none;*/
    right: -3px;
    bottom: 80px;
    z-index: 30;
    position: fixed;
    height: 42px;

}

.side{
    display: block;
    float: left;
    border-left: 1px #0A8CD2 solid;
    height: 42px;
    width: 42px;
    text-indent: -9999px;
    background-color: #f2f2f2;
    background-image: url("./image/icon.png");
    background-repeat: no-repeat;
    background-position: -96px -244px;
    transition: 0.5s;
}
.side:hover{
    background-color: #0A8CD2;
    background-position: -96px -286px;
}